<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>List Manager</title>
</head>
<body>
<div align="center">
    <h1>Manager List</h1>
    <a th:href="@{/abc}">Create New Manager</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Manager id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Sdt</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="manager : ${listmanager}">
                <td th:text="${manager.id}">Manager id</td>
                <td th:text="${manager.name}">Name</td>
                <td th:text="${manager.email}">Email</td>
                <td th:text="${manager.sdt}">Sdt</td>
                <td th:text="${manager.age}">Age</td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>